body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:  black;
    font-family: 'Arial', sans-serif;
}

.credit-card {
    width: 320px;
    height: 190px;
    border-radius: 15px;
    background: linear-gradient(135deg, #1c1e21, #484e5f);
    box-shadow: 0 8px 15px rgb(251, 255, 25);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.card-brand img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.card-number input {
    width: 100%;
    font-size: 1.2em;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    letter-spacing: 3px;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-holder label {
    font-size: 0.8em;
}

.card-holder input {
    flex: 1;
    margin-left: 10px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    outline: none;
}

.expiry-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.expiry-date label {
    font-size: 0.8em;
}

.expiry-date input {
    width: 60px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    text-align: center;
    outline: none;
}
